BK-SE.unique_Vs_BK-SE.unique_kcyteTFs.threshE-4.mannWhitpAdj_v_effectSize.pdf
FIMO_threshE-4_BK_kcyteTFs.txt
FIMO_threshE-4_DK_kcyteTFs.txt
FIMO_threshE-4_BK_kcyteTFs.counts.tsv
FIMO_threshE-4_DK_kcyteTFs.counts.tsv
